@import 'mixins';

body{
  height: 100%;
  width: 100%;
  header{
    background: green;
    color: orange;
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    nav{
      @include nav;
    }
  }
  footer{
    background: green;
    padding: 20px;
    bottom: 0px;
    position: fixed;
    width: 100%;
  }
  main{
    padding: 10px;
    background: #888;
    margin: 70px 10px;

  }
}